Instructions
For the first eight questions, use cars-sample35.txt. The seven distinct values represent attributes of a single type of automobile. Specifically we have the following:
- Price
- Maintenance cost
- Number of doors
- Number of passengers
- Luggage capacity
- Safety rating
- Classification of vehicle

1. Upload the data to github. Upload the data to python using Pandas and give it headers.

In [1]:
import pandas as pd
df = pd.read_csv('cars-sample35.txt', header=None)

2. Extract these seven attributes from each line of the file and create seven distinct Python list objects comprised solely of the values you extracted for a given attribute. In other words, you should have lists of prices, maintenance costs, number of doors, etc.

In [2]:
df.columns = ['price', 'maintenance', 'doors', 'passengers', 'luggage', 'safety', 'classification']
price_list = df['price'].tolist()
maintenance_list = df['maintenance'].tolist()
doors_list = df['doors'].tolist()
passengers_list = df['passengers'].tolist()
luggage_list = df['luggage'].tolist()
safety_list = df['safety'].tolist()
class_list = df['classification'].tolist()

3. Find the list index values of each automobile having a “price” rating of "med". Create a new list object with your result. HINT: you can accomplish this task by searching the list of price values you created earlier. Be sure to print your results.

In [3]:
med_price_indices = []
for i in range(len(price_list)):
    if price_list[i] == 'med':
        med_price_indices.append(i)

print("Medium Price Rating(indices):", med_price_indices)

Medium Price Rating(indices): [6, 16, 20, 23, 26, 29]

4. Find the "number of passengers" value for each auto having a "price" value of "med". Create a new list to store your findings and be sure to print your results.

In [4]:
med_price_passengers = []
for i in range(len(price_list)):
    if price_list[i] == 'med':
        med_price_passengers.append(passengers_list[i])

print("Number of Passengers for medium price rating cars:", med_price_passengers)

Number of Passengers for medium price rating cars: ['more', '2', '2', '2', '4', '2']

5. Find the index value for each automobile having a “price” value of "high" and a “maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.

In [5]:
high_price_nonlow_maint_indices = []
for i in range(len(price_list)):
    if price_list[i] == 'high' and maintenance_list[i] != 'low':
        high_price_nonlow_maint_indices.append(i)

print("High Prices and Maintenance is not low(indices):", high_price_nonlow_maint_indices)

High Prices and Maintenance is not low(indices): [0, 1, 2, 27, 31]

6. Find the list index values of each automobile having a price rating of "med using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your result. Be sure to print your results to the screen.

In [6]:
med_price_indices_lc = [i for i, price in enumerate(price_list) if price == 'med']
print("Medium priced cars (indices):", med_price_indices_lc)

Medium priced cars (indices): [6, 16, 20, 23, 26, 29]

7. Find the "number of passengers" value for each auto having a "price" value of "med" using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [7]:
med_price_passengers_lc = [passengers_list[i] for i, price in enumerate(price_list) if price == 'med']
print("Passengers for cars with medium price:", med_price_passengers_lc)

Passengers for cars with medium price: ['more', '2', '2', '2', '4', '2']

8. Find the index value for each automobile having a price value of "high" and a maintenance value that is not "low" using a list comprehension. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [8]:
high_price_nonlow_maint_indices_lc = [i for i, (p, m) in enumerate(zip(price_list, maintenance_list)) if p == 'high' and m != 'low']
print("High price and not low maintenance cars(indices):", high_price_nonlow_maint_indices_lc)

High price and not low maintenance cars(indices): [0, 1, 2, 27, 31]

Nested List Comprehension (no file needed):

Consider the following list of lists: nlist = [ [1, 2, 3], [‘A’, ‘B’, ‘C’], [4, 5], [‘D’, ‘E’] ]. Extract each individual element of the component lists contained within nlist and add them to a new list.  Do NOT use a nested for loop, use a list comprehension.

In [9]:
nlist = [[1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E']]
flat_list = [item for sublist in nlist for item in sublist]
print("Flattened list:", flat_list)

Flattened list: [1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']